<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="python.exe" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="python.exe" arguments="run.py" startupTimeLimit="60" processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PYTHONUNBUFFERED" value="true" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
